@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color:lavenderblush;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;

}
.logo{
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;    

}
.navigation a{
    color: brown;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em; 
    padding-left: 20px;

}
.navigation a:hover{
    color: black;
}
section{
    padding: 100px 100px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(Untitled\ design\ \(1\).png) no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(211, 56, 56);
    font-size: 3em;
    font-weight: 600;
    animation-name: span;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes span{
    from{
        color: rgb(175, 175, 228);
        
       
       
    }to{
        color: brown;
    

    }

}

.main h3{
    color: white;
    font-size:2em ;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: white;
    background-color:brown;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: .9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: .5s ease;
}
.main-btn:hover{
    background-color: rgb(235, 75, 75);
    transform: scale(1.1);
}
.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}
.container{
    background-color: rgba(0, 0, 0, 0.384);
}
.title{
    display: flex;
    justify-content: center;
    color: brown;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards{
    width: 100%;
    min-height: 100vh;
}
.card{
    background-color: white;
    width: 15em;
    box-shadow: 0 5px 15px brown;
    padding: 5px;
    margin: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: .5s;
}
.card:hover{
    transform: scale(1.1);
}
.card i{
    color: brown;
    font-size:2em;
    margin-right: 10px;
}
.projects{
    width: 100%;
    background-color:cornflowerblue;
}
.projects .content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-card{
    background-color: white;
    box-shadow: 0 5px 15px brown;
    height: 14em;
    min-width: 15em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: .7s ease;
    padding: 10px;
    margin-left: 10px;

}
.project-card:hover{
    transform:scale(1.1);
}
.project-img img{
    width: 100%;
}
.project-info p{
    color: brown;
}
.cards{
    min-height: 70px;
}
.footer{
    width: 100%;
    z-index: 9999;
    font-size: 1.2em;
    background-color:brown;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    
}
.footer span{
    color: white;
    font-weight: 500;
}
.footer .social-icons a{
    font-size: 1.3em;

}
